.header{
    color: #fff;
    text-align: center;
    padding: 2px;
}
img{
    margin: 0;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
}
input{
    background-color: orange;
    width: 70px;
    height: 25px;
}
#activeoff{
    color: rgb(255, 0, 0);
}
#activedef{
    color: rgb(0, 26, 255);
}
#selected{
    color: rgb(204, 0, 255);
    background-color: rgb(84, 214, 95);
}